Checks: '-*,portability-*,bugprone-*,-bugprone-easily-swappable-parameters,-bugprone-exception-escape,readability-*,-readability-identifier-length,-readability-magic-numbers,-readability-function-cognitive-complexity,clang-analyzer-*,-clang-analyzer-cplusplus.NewDeleteLeaks,performance-*'
HeaderFilterRegex: 'include/.*'
WarningsAsErrors: '*'
